h1{
    border: 2px dotted rgb(0, 0, 0);
    margin-top: 30px;
    
}

main{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
}

body{
    background-color: rgb(245, 216, 206);
}

/* nav bar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.home{
    height: 40px;
}

a{
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 121, 44);

}
  
/* #home{
    background-color: rgb(255, 0, 76);

} */

nav li, .home{
    float: left;
    border-right: 1px solid black;   
}
nav li:last-child{
    border: none;
}

.chestionar{
    float: right;
    border-right: none;
}

li a, .dropbtn {
    
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 0, 0);
}

li.dropdown {
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgb(255, 121, 44);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:  rgb(255, 0, 0);}

.dropdown:hover .dropdown-content {
  display: block;
}

/* titlu */
h1, h3{
    text-align: center;
}

/* text */
#text{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 15px;
    /* background-color: #2196F3; */
    /* padding: 10px; */
}

#prezentare{
    /* background-color: red; */
    grid-column: 1/span 2;
}
#viata{
    /* background-color: orange; */
    grid-column: 1/span 3;
}
#tabel{
    /* background-color: pink; */
    grid-column: 3/4;
}

#tabel>p{
    text-align: center;
}
p{
    text-align: justify;
}


/* tabel */

table, td, th {
    border:1px solid black;
}

table{
    background-color: orange;
    margin: 20px;
}

tr:nth-child(2n){
    background-color: rgb(255, 205, 148);
}

tr:nth-child(2n+1){
    background-color: rgb(232, 167, 245);
}

tr:hover{
    background-color:rgb(191, 252, 237);
}

th{
    text-align: center;
}

td{
    padding: 5px;
    width: 150px;
}

tr:first-child{
    background-color: rgb(252, 97, 97);
    font-weight: bold;
    text-align: center;
}


h1,h3 {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @media screen and (max-width:450px) {
    p{
        font-size: 15px;
    }
    h1,h3{
        animation-duration: 0s;
    }
    #text{
        display: flex;
        flex-direction: column;
    }
    #prezentare{
        order: 1;
    }
    #tabel{
        order: 3;
    }
    #viata{
        order: 2;
    }
    nav ul{
        width: 100%;
    }
    }